{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Traffic</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> <!--Replace with your tailwind.css once created-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional :) -->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <!-- custom.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>


<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

    <!--Nav-->
    <nav class="bg-gray-800 pt-2 md:pt-1 pb-2 px-1 mt-0 h-auto fixed w-full z-20 top-0">

        <div class="flex flex-wrap items-center">
        	<div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
                <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
	                <a href="/">
	                    <span class="text-xl pl-2">Traffic</span>
	                </a>
	            </div>
            </div>
        </div>

    </nav>
    <!-- End of Nav -->


    <div class="flex flex-col md:flex-row">

    	<!-- SideBar -->
        <div class="bg-gray-800 shadow-xl h-16 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48">

            <div class="md:mt-12 xl:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
                <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
                    <li class="mr-3 flex-1">
                        <a href="/" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
                            <i class="fas fa-home pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Main</span>
                        </a>
                    </li>
                    <li class="mr-3 flex-1">
                        <a href="/search" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
                            <i class="fa fa-search pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Search</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- End of SideBar -->

        <!-- 1 Main Content -->
        <div class="flex-1 bg-gray-100 pb-12 md:mr-5 md:mt-0">
        	<div class="bg-gray-800 pt-3">
                <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
                    <h3 class="font-bold pl-2">Search</h3>
                </div>
            </div>
            
            <!-- Search -->
            <form autocomplete="off" action="/search">
                <div class="flex flex-1 justify-center md:justify-center text-white px-2 my-3">
                    <span class="relative xl:w-1/3">
                        <input type="search" id="road" placeholder="Search" class="w-full text-black transition border border-b-2 focus:outline-none focus:ring focus:border-gray-400 rounded py-3 px-2 pl-5 appearance-none leading-normal">
                        <input type="hidden" id="conzoneId" name="conzoneId" value="">
                    </span>
                    <button type="submit" class="bg-blue-900 w-10 rounded-r-lg">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <!-- End of Search -->

            <!-- 검색 전 -->
            <div id="before_search" class="flex flex-wrap justify-center bg-gray-300 p-10 lg:p-20 m-10 rounded-lg">
                <div class="korean-text font-bold text-lg">지역명이나 IC, JC 명칭을 입력한 뒤 원하는 구간을 선택해주세요! <i class="fas fa-search"></i></div>
            </div>


            <!-- Result -->
            <div id="result" class="flex flex-wrap justify-center mt-7 md:mt-5" style="display: none;">
                <div class="w-full md:w-1/2 xl:w-1/2 p-3 text-xl korean-text text-center lg:text-left font-bold lg:px-6">
                    수도권 제1순환선 장수IC-송내IC
                </div>
                <div class="w-full md:w-1/2 xl:w-1/2 p-3 text-right korean-text text-gray-400 font-light lg:px-6">
                    기준시간 : 2021.07.14 15:51
                </div>

                <div class="w-full md:w-1/2 xl:w-1/2 p-6">
                    <!--Metric Card-->
                    <div class="border-b-4 border-blue-900 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-blue-900"><i class="fa fa-car fa-2x fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-600">교통량</h5>
                                <h3 class="font-bold text-3xl">100 대</h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full md:w-1/2 xl:w-1/2 p-6">
                    <!--Metric Card-->
                    <div class="border-b-4 border-blue-900 rounded-lg shadow-xl p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-blue-900"><i class="fas fa-flag-checkered fa-2x fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-600">속도</h5>
                                <h3 class="font-bold text-3xl">120 Km</h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>

                
                <div class="w-full m-3">
                    <div class="pt-3">
                        <div class="rounded-t-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-lg text-white">
                            <h3 class="font-bold pl-2">Map</h3>
                        </div>
                    </div>
                    <div id="map" style="width:100%;height:400px;" class="bg-gray-600"></div>
                </div>
            </div>
            <!-- End of Result -->

        </div>
        <!-- End of 1 Main Content -->

    </div>

    <!-- search.js -->
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highway.js' %}"></script>

    <script>
        autocomplete(document.getElementById("road"), road_list, document.getElementById("conzoneId"), conzone_list);
    </script>
</body>

</html>
